@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

:root {
  --bg: #131313;
  --main: #ffffff;
  --main-light: #b8b8b8;
  --secondary: #96efcf;
  --tertiary: #949bd7;
  --bg-light: #2a2a2a;

  --size-sm: 8px;
  --size-med: 42px;
  --size-lg: 64px;
  --size-xlg: 100px;

  --txt-sm: 1.5rem;
  --txt-med: 2.25rem;
  --txt-lg: 3rem;
  --txt-xlg: 3.5rem;
}

.small-gap {
  padding: var(--size-sm) 0;
}
.med-gap {
  padding: var(--size-med) 0;
}
.lg-gap {
  padding: var(--size-lg) 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  line-height: 150%;
}

html {
  scroll-behavior: smooth;
  background-color: var(--bg);
  color: var(--main);
}

@media only screen and (min-width: 768px) {
  body {
    /* padding-top: var(--size-lg); */
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
  }

  main {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: 0.15em;
}

li {
  list-style-type: none;
}

.list-dot {
  list-style-type: circle;
}

a {
  text-decoration: none;
  color: var(--main-light);
  transition: color 300ms;
}

a:hover {
  color: var(--main);
  transition: color 300ms;
}

p a {
  color: var(--tertiary);
}

.light {
  font-weight: 300;
}

.medium {
  font-weight: 500;
}

.bold {
  font-weight: 700;
}

footer {
  margin-top: var(--size-xlg);
  border-top: 1px solid var(--bg-light);
  text-align: center;
}
footer p {
  margin: var(--size-sm) 0;
}

/* ----------------------

  UTILITY 
  
---------------------- */

.square::after {
  height: var(--size-med);
  width: var(--size-med);
  border: 1px solid var(--main);
}

.circle {
  height: var(--size-med);
  width: var(--size-med);
  border-radius: 100%;
  border: 1px solid var(--main);
}

.triangle {
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 100px solid var(--main);
  border: 1px solid var(--main);
}

/* ----------------------

  SIDEBAR 
  
---------------------- */

#sidebar {
  position: fixed;
  margin-left: var(--size-med);
  margin-top: 200px;
}

/* ----------------------

  ABOUT 
  
---------------------- */

#about {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.intro {
  position: relative;
  text-transform: uppercase;
}
.intro-1 {
  position: absolute;
  display: inline-block;
  top: -2.25em;
  font-size: var(--txt-sm);
}
.intro-2 {
  position: absolute;
  top: -1em;
  font-size: var(--txt-sm);
}
.intro-3 {
  font-size: var(--txt-lg);
}

.about-info {
  max-width: 600px;
}

.about-anim {
  height: var(--size-xlg);
}

.about-nav,
.social-links {
  display: flex;
  gap: var(--size-med);
}

/* ----------------------

  PROJECTS 
  
---------------------- */

#projects {
  width: 65vw;
  max-width: 1440;
  margin: 0 var(--size-med);
  margin-left: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 100vh;
  gap: var(--size-med);
}

.projects-left,
.projects-right {
  display: flex;
  flex-direction: column;
  gap: calc(var(--size-med) * 0.5);
}
.projects-right {
  margin-top: var(--size-lg);
}

.project-img {
  width: 100%;
  height: 100px;
  object-fit: cover;
}

.project-title {
  font-weight: 500;
  font-size: var(--txt-sm);
  letter-spacing: 0.15em;
}

.project-description {
  font-weight: 300;
}

.project-item {
  overflow: hidden;
}

.item-a {
  border-radius: var(--size-med) var(--size-med) 0 var(--size-med);
}
.item-b {
  border-radius: var(--size-med) 0 var(--size-med) 0;
}
.item-c {
  border-radius: var(--size-med) 0 var(--size-med) var(--size-med);
}
.item-d {
  border-radius: var(--size-med) var(--size-med) var(--size-med) 0;
}
.item-e {
  border-radius: 0 var(--size-med) var(--size-med) var(--size-med);
}

.tr {
  border-top-right-radius: var(--size-med);
}
.br {
  border-bottom-right-radius: var(--size-med);
}
.tl {
  border-top-left-radius: var(--size-med);
}
.bl {
  border-bottom-left-radius: var(--size-med);
}
